.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}



header {
    height: 243px;
    background-color: white;
    font-family: $raleway;
    font-size: .9em;

        .logo {
            text-align: center;
            padding-top: 2em;
            padding-bottom: 1.5em;

            img {
                max-width: 170px;
                max-height: 100px;
                height: auto;
            }
        }

        nav {
            height: 90px;

            ul {

                li {
                    flex: 1;
                    text-align: center;
                    height: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 2px;
                    
                    a {
                        color: black;
                        transition: 0.3s;
                        line-height: 90px;
                        width: 100%;
                        -webkit-transition: .6s;
                        -o-transition: .6s;
                        transition: .6s;
             
    
                        &:hover {
                            color: $red;
                            cursor: pointer;
                            text-decoration: none;
                            font-size: 1.5em;
                           
                 
                        }
                    }
                }
            }
        }
}

.welcome {
    background-image: url("../img/many_juice.jpg");
    @extend %header-img;
    background-position: bottom;
}
.juices {
    background-image: url("../img/green_leafs.jpg");
    @extend %header-img;
    background-position: center;
}
.about {
    background-image: url("../img/oranges_cut.jpg");
    @extend %header-img;
    background-position: center;
}
.stores-banner {
    background-image: url("../img/blood_orange.jpg");
    @extend %header-img;
    background-position: center;
}

.about-text {
    
    h2 {
        font-family: $vidaloka;
        font-size: 2em;
        padding: .5em;
    }
    p {
        font-family: $raleway;
        font-size: 1.2em;
        padding: .7em;
        line-height: 1.4em;
    }
}
.about-img {

    .about-story-img {
        width: 100%;
        padding: 2em;


        img {
            max-height: 860px;
            width: 100%;
            overflow: hidden;
            border-radius: 20px;
        }
    }
}



.first-left {
    h2 {
        font-family: $raleway;
        font-size: 2.6em;
        text-align: center;
        border-bottom: 2px solid $green;
        padding: 1em 0 1em 0;;
    }
    h3 {
        font-family: $vidaloka;
        font-size: 2.6em;
        padding-top: .5em;
    }
    ul {
        font-family: $raleway;
        font-size: 1.6em;
        padding-top: .3em;
        line-height: 1.2em;
    }
    .juice-button {
        font-family: $raleway;
        font-size: 1.4em;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 2em;

        
        p {

            a {
                padding: 1.5em;
                color: $green;
                text-decoration: none;
                @include create-border(1px, $green);
                display: inline-block;
                width: 100%;
                
    
                &:hover {
                    color: black;
                    @include create-border(1px, black);
                
                }
            }
        }
        
    }
 
}
.first-right {
    background-color: white;
    border-bottom: 2px solid $green;

    .juice-day {
        width: 100%;
        padding-bottom: 2.5em;
        padding-top: 2em;


        img {
            width: 100%;
            overflow: hidden;
            border-radius: 20px;
        }
    }
}
.second-right {
    margin-top: 3em;

    h2 {
        font-family: $vidaloka;
        font-size: 2.5em;
        padding: .9em 0 .4em 0;
    }
    p {
        font-family: $raleway;
        font-size: 1.5em;
        line-height: 1.4em;
    }
    .juice-button {
        font-family: $raleway;
        font-size: 1em;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 4em 0 2em 0;

        
        p {

            a {
                padding: 1.3em;
                color: $green;
                text-decoration: none;
                @include create-border(1px, $green);
                display: inline-block;
                width: 100%;
                
    
                &:hover {
                    color: black;
                    @include create-border(1px, black);
                
                }
            }
        }
        
    }
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 1em 0;

    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

.third-right {
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;

    .tease-about-img {
        img {
            width: 100%;
            overflow: hidden;
            border-radius: 20px;
        }

    }
}

.third-left {
    margin-left: 1em;
    h2 {
        font-family: $vidaloka;
        font-size: 2.5em;
        padding: .3em 0;
    }
    p {
        font-family: $raleway;
        font-size: 1.3em;
        padding-bottom: 1em;
        line-height: 1.4em;
        margin-right: 2em;

         a {
             color: $green;

            &:hover {
                text-decoration: underline;
            }
         }
    }
    .juice-button {
        font-family: $raleway;
        font-size: 1em;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 4em 0 2em 0;

        
        p {

            a {
                padding: 1.3em;
                color: $green;
                text-decoration: none;
                @include create-border(1px, $green);
                display: inline-block;
                width: 100%;
                
    
                &:hover {
                    color: black;
                    @include create-border(1px, black);
                
                }
            }
        }
        
    }
}

.juice-menu {
    height: 65vh;
    padding: 3em 0;

    .one {
        height: 100%;
        background-image: url("../img/kiwi.jpg");
        background-position: center;
        @extend %juice-page-images;
    }
    .two {
        height: 100%;
        background-image: url("../img/apples.jpg");
        background-position: center;
        @extend %juice-page-images;
    }
    .three {
        height: 100%;
        background-image: url("../img/collard.jpg");
        background-position: center;
        @extend %juice-page-images;
    }
    .four {
        height: 100%;
        background-image: url("../img/apricot.jpg");
        background-position: top;
        @extend %juice-page-images;
    }
    .five {
        height: 100%;
        background-image: url("../img/red_juice.jpg");
        background-position: center;
        @extend %juice-page-images;
    }
    .six {
        height: 100%;
        background-image: url("../img/passion.jpg");
        background-position: center;
        @extend %juice-page-images;
    }
    .seven {
        height: 100%;
        background-image: url("../img/tomato_pour.jpg");
        background-position: center;
        @extend %juice-page-images;
    }
    .eight {
        height: 100%;
        background-image: url("../img/orange_leaf.jpg");
        background-position: center;
        @extend %juice-page-images;
    }

    .juice-rec {
        flex:1;
        padding: 1em;
        margin: 0 .7em 0 .7em;

        h2 {
            font-family: $vidaloka;
            font-size: 1.7em;
            padding-bottom: .5em;
        }

        ul {

            li {
                font-family: $raleway;
                font-size: 1.2em;
                line-height: 1.4em;
            }
        }
    }
    .bg-color {
        width: 12em;
        margin: 1.5em;
        padding: 1.5em;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.stores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;

    p {
        font-family: $raleway;
        font-size: 1em;
        line-height: 1.2em;
        padding: 20px 20px 0 20px;
    }

}

.headline-stores {
    h2 {
        font-family: $raleway;
        font-size: 2em;
        border-bottom: 2px solid $green;
        padding-bottom: 1.5em;
    }
}
.sec-map {
    margin-top: 2em;
}
.form-text {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 2px solid $green;

    h2 {
        font-family: $vidaloka;
        font-size: 2em;
        padding: 1em 0 .5em 0;
    }
    p {
        font-family: $raleway;
        font-size: 1.2em;
        line-height: 1.4em;
        padding-right: 2em;
    }
}
.form {
    margin-top: 3em;
    padding-top: 1em;
    
    form {
        font-family: $raleway;
        font-size: 1.5em;

        input {
            width: 100%;
            padding: 6px;
            margin: 5px 0;
            border-radius: 15px;

        }
        label {
            padding-top: .4em;
        }
        .textarea {
            width: 100%;
            border-radius: 15px;
            margin-top: 5px;
            padding: 6px;
        }
        .send {
            padding: 1em;
            color: $green;
            border: 2px solid $green;
            margin: .5em 0 1em 0;


            &:hover {
                cursor: pointer;
                color: black;
                border: 2px solid black;
            }
        }
    }
}



footer {
    height: 200px;
    background-color: black;
    color: $yellow;
    display: flex;
    align-items: center;
    margin-top: 2em;

    .footer-logo {
        width: 100%;
        min-width: 80px;
        padding: 2em;

        img {
            max-width: 130px;
            max-height: 130px;
        }
    }

        a {
            color: $yellow;
            text-decoration: underline;
            font-family: $raleway;
            padding-left: .5em;

            &:hover {
                color: $red;
            }
        }
        .adress-line {
            font-family: $raleway;
            font-size: 1em;
            padding: 1em 0 0 .5em;
            line-height: 1.2em;
        }
        .number {
            font-family: $raleway;
            padding: .4em 0 .7em .5em;
        }
    }
    .social {
        display: flex;
        justify-content: space-around;
        margin-right: 2em;
        
        a {

            &:hover {
                color: $red;
            }
            color: $yellow;
            i {
                font-size: 3em;
            }
        }
        
    }
    


